<mat-toolbar *ngIf="artPieceId !== ''" style="left: 0; right: 0;" color="accent" class="mat-elevation-z2">
    <button (click)="onBack()" color="primary" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <h1 class="mat-button">back</h1>
    </button>
</mat-toolbar>
<div class="dynamic__container--center">
    <div class="contact">

        <form [formGroup]="form" class="contact__form">
            <h1 class="mat-headline">
                Contact Me
            </h1>
            <mat-form-field>
                <input formControlName="name" placeholder="Name" matInput/>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" placeholder="Email" matInput/>
            </mat-form-field>
            <mat-form-field>
                <textarea formControlName="message" cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" placeholder="Message" matInput></textarea>
            </mat-form-field>
            <button (click)="onSend()" [disabled]="form.invalid || !form.dirty" mat-raised-button color="primary">
                Send
            </button>
        </form>

    </div>
</div>
<div class="socials">
    <h1 class="mat-headline socials__row">
        Follow Me
    </h1>
    <p class="mat-body socials__row">
        Use the #hawicreate to share!
    </p>
    <div class="socials__row">
        <a
            href="https://www.instagram.com/hawicreate/?hl=en"
            target="_blank"
        >
            <img 
                class="socials__row__link cursor--pointer"
                src="../../../assets/third-party/glyph-logo_May2016.png"/>
        </a>
        <a
            href="https://www.tiktok.com/@hawicreate"
            target="_blank"
        >
            <img
                class="socials__row__link cursor--pointer"
                src="../../../assets/third-party/tiktok.png"/>
        </a>
    </div>
</div>  