@import 'mixins';

.gallery {
    display: flex;
    flex-direction: column;
    
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__artpieces {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
        img {
            max-width: 250px;
            width: 25vw;
        }
        
        .grow {
            transition: all .2s ease-in-out;
        }
        
        .grow:hover {
            transform: scale(1.1);
        }

        &__item {
            max-width: 250px;
            margin: 1vw;
            display: flex;
            align-items: center;
        }
        
    }
}