.gallery {
    display: flex;
    flex-direction: column;
    
    &__header {
        display: flex;
        
    }

    &__artpieces {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        img {
            margin: 1vw;
            max-width: 250px;
            width: 30vw;
        }
    }
}