.user {

    &__requests {
        display: flex;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
    
    
        &__field {
            display: flex;
            margin: 1em;
    
            button {
                margin-right: 1em; 
            }
        }
    }
}
