<ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.user.isAdmin">
        <mat-toolbar class="toolbar mat-elevation-z6" color="primary">
            <div>
                <h1 class="mat-h1">{{ name }}</h1>
            </div>
            <div *ngIf="state.deviceType.desktop">
                <ng-container *ngFor="let route of routes">
                    <button color="accent" mat-button (click)="onNavigate(route.path)">
                        {{route.header}}
                    </button>
                </ng-container>
                <button mat-icon-button [matMenuTriggerFor]="accountMenu">
                        <mat-icon>person</mat-icon>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button (click)="onLogOut()" mat-menu-item>Log out</button>
                </mat-menu>
                
                
            </div>
        </mat-toolbar>
    </ng-container>
</ng-container>

