<div>
    <h1 class="mat-headline">
        Custom Work
    </h1>
</div>
<mat-divider></mat-divider>
<div class="dynamic__container--center">
    <div class="contact">

        <form class="contact__form">
            <h1 class="mat-headline">
                Contact Me
            </h1>
            <mat-form-field>
                <input placeholder="Name" matInput/>
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Email" matInput/>
            </mat-form-field>
            <mat-form-field>
                <textarea placeholder="Message" matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">
                Send
            </button>
        </form>



    </div>
</div>
<div class="socials">
    <h1 class="mat-headline socials__row">
        Follow Me
    </h1>
    <p class="mat-body socials__row">
        Use the #hawicreate to share!
    </p>
    <div class="socials__row">
        <img class="socials__row__link cursor--pointer" src="../../../assets/third-party/glyph-logo_May2016.png"/>
        <img class="socials__row__link cursor--pointer" src="../../../assets/third-party/tiktok.png"/>
    </div>
</div>  