<div class="image">
    <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="fileInput.click()"
    >
    CHOOSE FILE
    </button>
    
    <div class="image__upload">
        <input
            hidden
            (change)="onFileChanged($event)"
            #fileInput
            type="file"
            id="file"
            accept=".pdf,.doc,.docx,.jpg"
        >
        <ng-container *ngFor="let upload of uploads">
            <div class="image__upload__item">
                <div class="image__upload__item__left">
                    <img [src]="upload.url" width="100px;"/>
                    <label class="mat-caption" mat-label>
                        {{ upload.file.name }}
                    </label>
                </div>
                <button (click)="onRemoveUpload(upload)"mat-icon-button>
                    <mat-icon color="warn">
                        cancel
                    </mat-icon>
                </button>
            </div>
        </ng-container>
    
    </div>
</div>














