.image {
    margin: 1em;
    
    &__upload {
        display: flex;
        flex-wrap: wrap;
    
        &__item {
            display: flex;
            flex-direction: column;
            margin: 1em;
        }
    }
}