<div class="dynamic__container--center">
    <div class="login__card mat-elevation-z3">
        <div class="login__card__title">
            <h1 class="mat-headline">HawiCreate</h1>
            <h1 class="mat-headline"><em> &nbsp; Admin</em></h1>
        </div>
        <div class="login__card__divider">
            <mat-divider></mat-divider>
        </div>
        <div class="login__card__options">
            <ng-container *ngIf="user$ | async as user; else login">
                <button (click)="onLogOut()" color="primary" mat-raised-button>
                    Log out
                </button>
            </ng-container>
            
            <ng-template #login>
                <h1 class="mat-headline">Log In</h1>
                <button (click)="onLogIn()" color="primary" mat-raised-button>
                    Log in with Google
                </button>
            </ng-template>
        </div>
    </div>
</div>
