<ng-container *ngIf="homePage$ | async as homePage">
    <div class="logo">
        <div>
            <img class="main__image" src="../../../assets/hcblack.png"/>
        </div>
    </div>
    <div class="dynamic__container--center--flush" >
        <ng-container *ngIf="state$ | async as state">
            <div class="dynamic__container--center--flush" >
                <ngx-gallery [options]="state.options" NgxGalleryImageSize="contain" [images]="state.images"></ngx-gallery>
            </div>
        </ng-container>
    </div>
    <div class="header mat-elevation-z7">
        <div class="header__quote">{{ homePage.quote }}</div>
        <div class="header__author">- {{ homePage.author }}</div>
    </div>
    <div class="dynamic__container--center--column">
        <div class="about">
            <h1 class="mat-headline">About Me</h1>
            <p class="line--breaker mat-body">
                {{ homePage.aboutMe }}
            </p>
        </div>
    </div>
</ng-container>
